<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

    <title>로그인</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/public/log_sign.css" />
    <link rel="stylesheet" href="/public/main.css" />
  </head>

  <body class="bg-main">
    <div class="section">
      <div class="container">
        <div class="row full-height justify-content-center">
          <div class="col-12 text-center align-self-center py-5">
            <div class="section pb-5 pt-5 pt-sm-2 text-center">
              <h6 class="mb-0 pb-3" style="color: black">
                <span>로그인 </span><span>회원가입</span>
              </h6>
              <input
                class="checkbox"
                type="checkbox"
                id="reg-log"
                name="reg-log"
              />
              <label for="reg-log"></label>

              <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper">
                  <div class="card-front" style="background-color: rgb(215, 223, 231); color:black;">
                    <div class="center-wrap">
                      <div class="section text-center">
                        <form action="/login_sign" method="POST">
                          <h4 class="mb-4 pb-3">로그인</h4>
                          <div class="form-group">
                            <input
                              type="id"
                              name="login_id"
                              class="form-style"
                              style="background-color: white;"
                              placeholder="ID"
                              autocomplete="off"
                              required
                              pattern="^[a-zA-Z0-9]+$"
                              oninvalid="this.setCustomValidity('ID는 영문자와 숫자만 입력 가능합니다.')"
                              oninput="setCustomValidity('')"
                            />
                          </div>
                          <div class="form-group mt-2">
                            <input
                              type="password"
                              name="login_password"
                              class="form-style"
                              style="background-color: white;"
                              placeholder="Password"
                              autocomplete="off"
                              required
                              pattern="^(?=.*[!@#$%^&*()_+\-=[\]{};':\\|,.<>/?])(?=.*[a-zA-Z]).{6,}$"
                              oninvalid="this.setCustomValidity('비밀번호를 다시 확인 해주십시오. 영문자가 적어도 1개 이상, 특수문자가 적어도 1개 이상, 길이는 6자 이상이여야 합니다.')"
                              oninput="setCustomValidity('')"
                            />
                          </div>
                          <button type="submit" class="btn mt-4">확인</button>
                          <a id="kakao-login-btn" href="javascript:loginWithKakao();">
                            <img class="mt-4" src="/public/image/kakao_login_medium_narrow.png" alt="카카오 로그인 버튼" />
                          </a>
                          <!-- <p id="token-result" onclick="requestUserInfo()"> kakao_token_test </p> -->



                        </form>
                      </div>
                    </div>
                  </div>

                  <div class="card-back" style="background-color: rgb(215, 223, 231); color:black;">
                    <div class="center-wrap">
                      <div class="section text-center">
                        <form action="/register" method="POST">
                          <h4 class="mb-4 pb-3">회원가입</h4>
                          <div class="form-group">
                            <input
                              type="text"
                              name="regi_name"
                              class="form-style"
                              style="background-color: white;"
                              placeholder="Name"
                              id="logname"
                              autocomplete="off"
                              required
                              pattern="^[a-zA-Z0-9]{2,10}$"
                              oninvalid="this.setCustomValidity('숫자 영문 2자리 이상만 가능합니다.')"
                              oninput="setCustomValidity('')"
                            />
                          </div>

                          <div class="form-group mt-2">
                            <input
                              type="id"
                              name="regi_id"
                              class="form-style"
                              style="background-color: white;"
                              placeholder="ID"
                              autocomplete="off"
                              required
                              pattern="^[a-zA-Z0-9]+$"
                              oninvalid="this.setCustomValidity('ID는 영문자와 숫자만 입력 가능합니다.')"
                              oninput="setCustomValidity('')"
                            />
                          </div>

                          <div class="form-group mt-2">
                            <input
                              type="password"
                              name="regi_pw"
                              class="form-style"
                              style="background-color: white;"
                              placeholder="Password"
                              autocomplete="off"
                              required
                              pattern="^(?=.*[!@#$%^&*()_+\-=[\]{};':\\|,.<>/?])(?=.*[a-zA-Z]).{6,}$"
                              oninvalid="this.setCustomValidity('비밀번호를 다시 확인 해주십시오. 영문자가 적어도 1개 이상, 특수문자가 적어도 1개 이상, 길이는 6자 이상이여야 합니다.')"
                              oninput="setCustomValidity('')"
                            />
                          </div>

                          <button type="submit" class="btn mt-4">확인</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- server 에서 처리 하기 때문에 사용 X -->
    <!-- <script>
      $.post('/register').then((response) => {
        if (response === '이미 등록된 ID!') {
          alert('이미 등록된 ID가 있습니다.');
          event.preventDefault();
        }
      });
    </script> -->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
      integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous">
    </script>
    
    <script type="text/javascript">
      // var test = "aaaaaa"트
      // console.log(`${test}`); // 백틱 테스트

      Kakao.init("<%=process.env.KAKAO_JS_KEY%>"); // 사용하려는 앱의 JavaScript 키 입력
      console.log(Kakao.isInitialized()); // SDK 초기화 여부를 판단합니다.
  
      function getQueryParam(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
      }

      const kakaoCode = getQueryParam('code');
      // console.log("!!!!!!!!!!");
      // console.log(kakaoCode);


    </script>

    <script type="text/javascript">

      function loginWithKakao() {
        Kakao.Auth.authorize ({
          redirectUri: encodeURI(`<%=process.env.REDIRECT_URL%>`),
          scope: 'profile_nickname, profile_image, account_email',
        });
      }

      $.ajax({
          type : "POST"
          , url : 'https://kauth.kakao.com/oauth/token'
          , data : {
              grant_type : 'authorization_code',
              client_id : '<%=process.env.KAKAO_JS_KEY%>',
              redirect_uri : '<%=process.env.REDIRECT_URL%>',
              code : kakaoCode
          }
          , contentType:'application/x-www-form-urlencoded;charset=utf-8'
          , dataType: null
          , success : function(response) {
              Kakao.Auth.setAccessToken(response.access_token);
          }
          ,error : function(jqXHR, error) {
          
          }
      });

      function requestUserInfo() {
        Kakao.API.request({
          url: '/v2/user/me',
        })
          .then(function(res) {
            alert(JSON.stringify(res));
          })
          .catch(function(err) {
            alert(
              'failed to request user information: ' + JSON.stringify(err)
            );
          });
      }
    </script>

  </body>
</html>
