.main {
    width: 85%;
    margin: 20px auto;
}

.has-search .form-control {
    height: 45px;
    padding-left: 2.375rem;
    font-size: 15px;
    border-radius: 15px;
    padding-left: 10px;
    color: aliceblue;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


.form-button-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.form-control {
    margin: 10px auto;
    height: 100px;
    padding-left: 10px;
    background-color: #212529;
    color: aliceblue;
}

/* .form-control:focus {
    color:aliceblue;
} */


/* ------- */

.box {
    width: 10px;
    height: 10px;
    background-color: gray;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: -3px;
}


/* ---------------------------------------------- */


.search-buttons {
    display: flex;
    justify-content: center;
}

.search-button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin-right: 20px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.search-button:hover,
.search-button:focus {
    opacity: 0.8;
}

.search-button:active {
    opacity: 0.6;
}